{{#each surveys as |survey|}}
  {{log survey}}

  <section class="survey-info" data-id="{{survey._id}}">
    <h3>{{survey.title}}</h3>
    <p>{{survey.option1}}<br>
    {{survey.option2}}<br>
  {{survey.option3}}<br>
{{survey.option4}}<br>
{{survey.option5}}<br></p>
    <p>
      <button class="view-survey-results-button btn btn-info" type="button" data-target="#modal-{{survey._id}}">
        View Results
      </button>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-{{survey._id}}">
        Edit
      </button>
      <button class="delete-survey-button btn btn-info submit remove" type="button">Delete</button></p>

<!-- Update Quote Modal -->
<div data-backdrop="true" class="modal fade update-modal" id="modal-{{survey._id}}" tabindex="-1" role="dialog" aria-labelledby="updateQuoteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title-{{survey._id}}">Update Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="update-survey-form">
          <label>Survey Title:</label>
          <input name="survey[title]" type="text" class="form-control"><br>
          <label>Option 1:</label>
          <input name="survey[option1]" type="text"  class="form-control"><br>
          <label>Option 2:</label>
          <input name="survey[option2]" type="text"  class="form-control"><br>
          <label>Option 3:</label>
          <input name="survey[option3]" type="text"  class="form-control"><br>
          <label>Option 4:</label>
          <input name="survey[option4]" type="text"  class="form-control"><br>
          <label>Option 5:</label>
          <input name="survey[option5]" type="text"  class="form-control"><br>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
      </div>
    </div>
  </div>
</div>

  </section>

{{/each}}
